{% extends 'base.html' %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  const articlePost = function(article) {
    $.post("/artikel/create/", {
      ...article,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    },

    success: function(data) {
      $(location).attr('href',"/artikel/");
      console.log(data);
    })
  }

  $(document).ready(
    function() {
      $(".submit-article").click(function() {
        const article = {
          title: $(".inp-title").val(),
          image_url: $(".inp-img-url").val(),
          description: $(".inp-description").val()
        }
    
        articlePost(article);
        return false;
      });
    }
  )
</script>

{% endblock meta %}

{% load filters %}

{% block content %}
<div class="h-screen w-full flex justify-center items-center font-poppins bg-purple-3">
  <div class="flex flex-col w-[90%] h-full p-10 gap-6">
    <div class="text-pink-1 text-center font-bold text-4xl mb-6"> 
      <h1>Tambah Artikel Baru</h1>
    </div>
  
    <form method="POST" >
      {% csrf_token %}
          <div class="flex space-x-10">
            <div class="flex flex-col w-[40%] gap-4">
              <div class="flex flex-col items-start w-full">
                <p class="text-purple-1 text-lg font-semibold">Judul</p>
                {{ form.title|addclass:"inp-title caret-pink-1 shadow-lg rounded-lg py-2 px-2 w-full"}}
              </div>
              <div class="flex flex-col items-start justify-between">
                <p class="text-purple-1 text-lg font-semibold">Tautan Gambar</p>
                {{ form.image_url|addclass:"inp-img-url caret-pink-1 shadow-lg rounded-lg py-2 px-2 h-20 w-full"}}
              </div>
            </div>
            <div class="flex flex-col w-[60%] items-start justify-between">
              <p class="text-purple-1 text-lg font-semibold">Deskripsi</p>
              {{ form.description|addclass:"inp-description focus:outline-purple-1 caret-pink-1 shadow-lg rounded-lg w-full py-2 px-2 h-80"}}
            </div>
          </div>

        <div class="font-poppins text-xs text-center font-bold text-pink-1 mt-2 mb-10">
          {{ form.title.errors }}
          {{ form.description.errors }}
          {{ form.image_url.errors }}
        </div>

        <button class="submit-article w-full">
          <input class="text-white mt-2 w-auto bg-gradient-to-r hover:bg-gradient-to-l from-purple-1 to-pink-1 font-extrabold rounded-full text-md md:px-5 md:py-2 px-4 py-2 text-center mb-2" type="submit" name="submit" value="Submit Article">
        </button>
      </div>
    </form>
  </div>

  {% if messages %}  
  <ul>   
      {% for message in messages %}  
          <li>{{ message }}</li>  
          {% endfor %}  
  </ul>   
  {% endif %}
</div>
{% endblock content %}