{% extends 'base.html' %}

{% block meta %}
<title>UMKM List</title>
{% endblock meta %}

{% block content %}  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $.getJSON("{% url 'umkm_module:show_json' %}", function(data) {
            console.log(data);
            var grid = [];
            $.each(data, function(index, value) {
                var cards = [];
                var content = [];
                content.push("<p class='text-gray-600'>" + value.fields.lokasi_usaha + "</p>");
                content.push(`
                    <div class="mb-8"> 
                        <div class="text-gray-900 font-bold text-xl mb-2"><a href="/umkm/detail/`+value.pk+`">` + 
                            value.fields.nama_usaha +
                        `</a></div>
                        <p class="text-gray-700 text-base">` +
                            value.fields.bidang_usaha+
                        `</p>
                    </div>
                `);
                cards.push(`
                    <div class="w-full" id="umkm-`+ value.pk +`">
                        <div class="h-20 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"></div>
                        <div class="border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal hover:bg-gray-100 text-white font-bold py-2 px-4">
                    ` + content.join("") + 
                    `
                        </div>
                    </div>       
                    `
                );
                grid.push(cards.join(""));
            });

            $("#umkm-cards").html(grid.join(""));
        });
        $("#search-form").submit(function(e){
            e.preventDefault();
            $("#search-btn").prop('disabled', true);
            $("#search-btn").text('Searching...');
            var $form = $(this);
            var serializedData = $form.serialize();
            $.ajax({
                url: "{% url 'umkm_module:search_umkm' %}",
                type: "POST",
                data: serializedData,
                dataType: 'json',
                success: function (data) {
                    $("#search-btn").prop('disabled', false);
                    $("#search-btn").text('Search');
                    var grid = [];
                    
                    $.each(data, function(index, value) {
                        var cards = [];
                        var content = [];
                        content.push("<p class='text-gray-600'>" + value.fields.lokasi_usaha + "</p>");
                        content.push(`
                            <div class="mb-8"> 
                                <div class="text-gray-900 font-bold text-xl mb-2"><a href="/umkm/detail/`+value.pk+`">` + 
                                    value.fields.nama_usaha +
                                `</a></div>
                                <p class="text-gray-700 text-base">` +
                                    value.fields.bidang_usaha+
                                `</p>
                            </div>
                        `);
                        cards.push(`
                            <div class="w-full" id="umkm-`+ value.pk +`">
                                <div class="h-20 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"></div>
                                <div class="border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal hover:bg-gray-100 text-white font-bold py-2 px-4">
                            ` + content.join("") + 
                            `
                                </div>
                            </div>       
                            `
                        );
                        grid.push(cards.join(""));
                    });
                    if (grid.length == 0) {
                        $("#umkm-cards").html("<h2>Usaha yang dicari tidak ditemukan</h2>");
                    } else {
                        $("#umkm-cards").html(grid.join(""));
                    }
                    
                }
            });
        });
    });  
</script>
<h1>Cari UemKaEm</h1>
<p>Ingin tambahkan usahamu? <span><a href="{% url 'umkm_module:tambah_umkm' %}">Tambah</a></span></p>

<form action="POST" id="search-form">
    {% csrf_token %}
    {{form}}

    <button
        type="submit"
        id="search-btn"
        class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
    >
        Search
    </button>
</form>

<div id="umkm-cards" class="h-auto flex flex-col items-center justify-center p-2 lg:grid grid-cols-3 gap-3">

    
  

<hr>

</div>

{% endblock content %}